<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/" class="menu-text">ChefsNDishes</a></li>
            <li><a href="/">Chefs</a></li>
            <li><a href="Dishes">Dishes</a></li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            <li><a href="NewChef">Add a Chef</a></li>
            <li><a href="NewDish">Add a Dish</a></li>
        </ul>
    </div>
</div>