<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ChefsNDishes</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>

<body>
    <header>
        <partial name="_Header">
    </header>
    <div class="grid-container">
        <main role="main" class="margin-3">
            <div class="grid-x align-center margin-bottom-3">
                <div class="cell shrink">
                    <h1>Welcome to Chefs 'n Dishes</h1>
                </div>
            </div>
            @RenderBody()
        </main>
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/foundation.min.js"></script>
    <script src="~/js/site.js"></script>
</body>

</html>
