<div class="title-bar" data-responsive-toggle="example-menu" data-hide-for="medium">
    <button class="menu-icon" type="button" data-toggle="example-menu"></button>
    <div class="title-bar-title">Menu</div>
</div>

<div class="top-bar" id="example-menu">
    <div class="top-bar-left">
        <ul class="menu">
            <li><a href="/" class="menu-text">Wedding</a></li>
            <li><a href="/">Home</a></li>
            @if(ViewBag.LoggedIn == true)
            {
                <li><a asp-action="Dashboard">Dashboard</a></li>
            }
            else
            {
                <li><a id="register" data-open="modal">Register</a></li>
                <li><a id="login">Log in</a></li>
            }
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
            @if(ViewBag.LoggedIn == true)
            {
                <li><a id="newWedding">New Wedding</a></li>
            }
            <li><a asp-action="Logout">Log out</a></li>
        </ul>
    </div>
</div>