<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Date and Time | B C Williams Dev</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <span class="h2">Date and Time</span>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="h4"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
    <div>
        <div class="grid-container">
            <div class="grid-x grid-padding-y align-center">
                <div class="cell text-center">
                    <span class="h2">The Current Time and Date</span>
                </div>
            </div>
            <hr>
            <div class="grid-x grid-padding-y align-center">
                <div class="cell text-center">
                    <span class="h2">@ViewBag.Date</span>
                </div>
            </div>
            <div class="grid-x grid-padding-y align-center">
                <div class="cell text-center">
                    <span class="h2">@ViewBag.Time</span>
                </div>
            </div>
        </div>
    </div>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</body>
</html>