<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] | Dojo Survey | B C Williams Dev</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="top-bar">
        <div class="top-bar-left">
            <span class="h2">Dojo Survey</span>
        </div>
        <div class="top-bar-right">
            <ul class="menu">
                <li class="h4"><a href="/">Home</a></li>
            </ul>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <!-- Compressed CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/css/foundation.min.css" crossorigin="anonymous">
    <!-- Compressed JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.7.4/dist/js/foundation.min.js" crossorigin="anonymous"></script>
</body>
</html>