@model Message

<div class="col justify-content-end">
    <form asp-action="NewMessage" asp-controller="Message" method="post">
        <input type="hidden" asp-for="UserId" >
        <div class="mb-3">
            <label asp-for="Text" class="form-label">Email address</label>
            <textarea asp-for="Text" class="form-control" id="MessageInput" aria-describedby="MessageErrorText"></textarea>
            <span asp-validation-for="Text" id="MessageErrorText" class="form-text"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>