@model DojodachiPet
<div class="grid-x align-center grid-padding-y grid-margin-y">
    <div class="cell medium-6 text-center">
        <p class="h5">Fullness: <span id="full">@Model.Fullness</span> - Happiness: <span id="happy">@Model.Happiness</span> - Meals: <span id="meals">@Model.Meals</span> - Energy: <span id="energy">@Model.Energy</span></p>
    </div>
</div>