@{
    ViewData["Title"] = "Dojodachi";
}
<partial name="Counter">
<div class="grid-x align-center grid-padding-y">
    <div class="cell medium-6 text-center">
        <img src="~/imgs/Happy-Squirtle.jpg" alt="Happy Squirtle!">
    </div>
</div>
<div class="grid-x align-center grid-padding-y">
    <div class="cell medium-6 text-center">
        <span class="h5">@Model.LastMsg</span>
    </div>
</div>
<div class="grid-x align-center grid-padding-y">
    <div class="cell medium-6 text-center">
        <a id="feed" class="button">Feed</a>
        <a id="play" class="button">Play</a>
        <a id="work" class="button">Work</a>
        <a id="sleep" class="button">Sleep</a>
    </div>
</div>
