@{
    ViewData["Title"] = "Bad Route";
}

<div class="text-center text-warning mt-5 py-5">
    <h1 class="display-2 mt-5 py-5">Something went wrong!</h1>
    <i class="fa-solid fa-5x fa-beat-fade fa-link-slash" style="--fa-beat-fade-opacity: 0.5;--fa-animation-duration: 2s; --fa-beat-fade-scale: 1.5;--fa-animation-duration: 2s;"></i>
</div>
