@{
    ViewData["Title"] = "Home Page";
}
<div class="grid-x align-center margin-vertical-3">
    <div class="cell shrink text-center">
        <h1>Welcome to Login and Registration!</h1>
    </div>
</div>
