@{Layout = "Main";}
<div class="grid-container">
<div class="grid-x grid-margin-y grid-padding-y align-center">
    <div class="cell shrink">
        <h3>Contact Me!</h3>
    </div>
</div>
<div class="grid-x align-spaced">
    <div class="cell medium-4">
        <label>Name
            <input type="text" placeholder="Name">
        </label>
        <label>Email
            <input type="email" placeholder="eMail Address">
        </label>
    </div>
    <div class="cell medium-4">
        <label>
            What books did you read over summer break?
            <textarea rows="4" placeholder="Message"></textarea>
        </label>
        <a href="/" class="button success">Submit</a>
    </div>

</div>
