@{
    Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}
@model Survey
<div class="grid-container">
    <div class="grid-x grid-margin-y grid-padding-y align-center">
        <div class="cell shrink">
            <h3>Dojo Survey</h3>
        </div>
    </div>
    <div class="grid-x align-spaced">
        <form method="post" action="survey" class="cell medium-4">
            <label asp-for="Name">
                <span asp-validation-for="Name"></span>
                <input asp-for="Name" type="text" placeholder="Name">
            </label>
            <label asp-for="Campus">
                <span asp-validation-for="Campus"></span>
                <select asp-for="Campus">
                    <option value="san jose">San Jose</option>
                    <option value="bellevue">Bellevue</option>
                    <option value="online">Online</option>
                </select>
            </label>
            <label asp-for="FavoriteLanguage">
                <span asp-validation-for="FavoriteLanguage"></span>
                <select asp-for="FavoriteLanguage">
                    <option value="C#">C#</option>
                    <option value="C#">C#</option>
                    <option value="C#">C#</option>
                    <option value="C#">C#</option>
                    <option value="Chef">Chef</option>
                </select>
            </label>
            <label asp-for="Comment">
                <span asp-validation-for="Comment"></span>
                <textarea asp-for="Comment" rows="4" placeholder="Comment"></textarea>
            </label>
            <input type="submit" value="Submit" class="button alert">
        </form>
    </div>