@model User
<div class="grid-x align-justify">
    <div class="cell shrink">
        <h1 class="h3">Welcome, @Model.FirstName</h1>
    </div>
    <div class="cell shrink">
        <h1 class="h3">Account Balance @Model.Balance</h1>
    </div>
</div>